<template>
  <div id="app">
    <app-showMap></app-showMap>
  </div>
</template>

<script>
import ShowMap from "./components/Map/showMap.vue";
export default {
  components: {
    "app-showMap": ShowMap
  }
};
</script>
<style>
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
