<template>
  <div class="container">
    <div class="container" id="map"></div>
  </div>
</template>

<script>
import fengmap from "fengmap";
import "../../js/fengmap.control.min";
import { updateLocation, stopUpdateLocation, _update } from "../../js/locSDK";
// import fengmap from "../../js/fengmap.core.min";

export default {
  data() {
    return {
      map: null,
      fmapID: "1334683719947112450",
      toggleFlag: false,
      loadComplete: false,
      isLoading: false,
      mapOptions: {},
      btnFloorControl: {},
      scrollFloorControl: {},
      btnFloorCtlOpt: {},
      scrollFloorCtlOpt: {},
      locationMarker: '',
      mapIsOk: false
    };
  },
  mounted() {

    if (this.locationMarker) {
      this.locationMarker = null;
    }

    if (_update) {
      stopUpdateLocation();
    }

    this.openMap();

    updateLocation((data) => {
        if(this.mapIsOk){
            if(!this.locationMarker){
                this.locationMarker = new fengmap.FMLocationMarker({
                    x: data.x,
                    y: data.y,
                    url: '../../assets/location2.png',
                    groupID: 1,
                    size: 48,
                    height: 3,
                    callback: function(){
                      console.log("定位点marker加载完成!");
                      console.log('位置: ', data.x, data.y, data.angle);
                    }
                });
                this.map.addLocationMarker(this.locationMarker);
            }else{
                this.locationMarker.rotateTo({
                    to: data.angle,
                    duration: 1
                });

                this.locationMarker.moveTo({
                    x: data.x,
                    y: data.y,
                    groupID: 1
                });
            }
        }
    });

  },
  methods: {
    loadBtnFloorCtrl() {
      //楼层控制控件配置参数
      this.btnFloorCtlOpt = {
        //默认在右下角
        position: fengmap.FMControlPosition.RIGHT_TOP,
        //初始楼层按钮显示个数配置。默认显示5层,其他的隐藏，可滚动查看
        showBtnCount: 2,
        //初始是否是多层显示，默认单层显示
        allLayer: false,
        //位置x,y的偏移量
        offset: {
          x: -20,
          y: 20
        }
      };
      //不带单/双层楼层控制按钮,初始时只有1个按钮,点击后可弹出其他楼层按钮
      this.btnFloorControl = new fengmap.FMButtonGroupsControl(this.map, this.btnFloorCtlOpt);
      //楼层切换
      this.btnFloorControl.onChange(function (groups, allLayer) {
        //groups 表示当前要切换的楼层ID数组,
        //allLayer表示当前楼层是单层状态还是多层状态。
        console.log("当前切换楼层：" + groups + allLayer);
      });
      //切换楼层,changeFocusGroup(目标层groupID,是否多层状态)
      //btnFloorControl.changeFocusGroup(2, true);
      //默认是否展开楼层列表，true为展开，false为不展开
      this.btnFloorControl.expand = true;
    },
    loadScrollFloorCtrl() {
      this.scrollFloorCtlOpt = {
        //默认在右上角
        position: fengmap.FMControlPosition.RIGHT_TOP,
        //初始楼层按钮显示个数配置。默认显示5层,其他的隐藏，可滚动查看
        showBtnCount: 6,
        //初始是否是多层显示，默认单层显示false
        allLayer: false,
        //是否显示多层/单层切换按钮
        needAllLayerBtn: true,
        //位置x,y的偏移量
        offset: {
          x: -20,
          y: 20
        }
      };
      this.scrollFloorControl = new fengmap.FMScrollGroupsControl(this.map, this.scrollFloorCtlOpt);
      this.scrollFloorControl.onChange(function (groups, allLayer) {
        console.log(groups, allLayer);
      });
    },
    openMap() {
      this.mapOptions = {
        container: document.getElementById("map"),
        //默认主题名称
        defaultThemeName: "a8667eef5f68463e53e6e934421ea1fb",
        defaultFocusGroup: 1,
        //初始显示楼层ID数组
        defaultVisibleGroups: [1],
        //是否对不可见图层启用透明设置 默认为true
        focusAlphaMode: true,
        //对不聚焦图层启用透明设置，当focusAlphaMode = true时有效
        focusAlpha: 0.1,
        // 必要，地图应用名称，通过蜂鸟云后台创建
        appName: "室内导航",
        //必要，地图应用密钥，通过蜂鸟云后台获取
        key: "1645cbd53b895bcb523faf92dd6c936f"
      };

      this.map = new fengmap.FMMap(this.mapOptions);

      this.map.openMapById(this.fmapID, function (error) {
        //打印错误信息
        console.log(error);
      });

      this.map.on("loadComplete", () => {
        console.log("地图加载完成");
        this.mapIsOk = true;
        console.log('测试: ',this.mapIsOk);
        //加载按钮型楼层切换控件
        //   this.loadBtnFloorCtrl();
        //加载滚动型楼层切换控件
        this.loadScrollFloorCtrl();
      });
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
</style>
